body {
    background-image: url(./lightsky.jpg);
    background-size: cover;
    /* overflow: hidden; */
    background-repeat: no-repeat;
}

::-webkit-scrollbar{
    width:20px;
    height: 20px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(
        to bottom,
        #ff850a,
        #ff3474
    );
    border-radius: 50px;
}

::-webkit-scrollbar-track{
    background: #474747;
}