* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    width: 400px;
    height: 100vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h3 {
    margin-bottom: 1rem;
    font-weight: normal;
}

img {
    border-radius: 15% 40% 15% 40%;
    border: 5px #333 solid;
    margin-bottom: 1rem;
}

img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.male {
    background-color: rgb(0, 104, 117);
    color: rgb(255, 255, 255);
}

.female {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

button {
    cursor: pointer;
    display: inline-block;
    background: #333;
    color: white;
    font-size: 18px;
    border: 0;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    width: 50%;
    margin: 5px;
}

button:focus {
    outline: none;
}

button:hover {
    opacity: 0.9;
    color: #fff;
}

button:active {
    transform: scale(0.9);
}

.buttons {
    display: inline-block;
    width: 100%;
}